NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
SUPABASE_SERVICE_ROLE_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
INVITE_FROM_EMAIL=Life Archive <onboarding@resend.dev>
NODE_ENV=development
